# SF crime data analysis and modeling
### Data Source: https://www.kaggle.com/c/sf-crime/data

In [1]:
from csv import reader
from pyspark.sql import Row 
from pyspark.sql import SparkSession
from pyspark.sql.types import *
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
#from ggplot import *
import warnings
from pyspark.sql.functions import col

import os
os.environ["PYSPARK_PYTHON"] = "python3"

In [2]:
#Initializing PySpark
from pyspark import SparkContext, SparkConf

# #Spark Config
conf = SparkConf().setAppName("sample_app")
sc = SparkContext(conf=conf)

In [4]:
# read data from the data storage
# please upload your data into databricks community at first. 
crime_data_lines = sc.textFile('sf_data.csv')
#prepare data 
df_crimes = crime_data_lines.map(lambda line: [x.strip('"') for x in next(reader([line]))])

In [5]:
#get header
header = df_crimes.first()
header

['Dates',
 'Category',
 'Descript',
 'DayOfWeek',
 'PdDistrict',
 'Resolution',
 'Address',
 'X',
 'Y']

In [6]:
#remove the first line of data
crimes = df_crimes.filter(lambda x: x != header)

In [7]:
#get the first line of data
display(crimes.take(5))

[['2015-05-13 23:53:00',
  'WARRANTS',
  'WARRANT ARREST',
  'Wednesday',
  'NORTHERN',
  'ARREST, BOOKED',
  'OAK ST / LAGUNA ST',
  '-122.425891675136',
  '37.7745985956747'],
 ['2015-05-13 23:53:00',
  'OTHER OFFENSES',
  'TRAFFIC VIOLATION ARREST',
  'Wednesday',
  'NORTHERN',
  'ARREST, BOOKED',
  'OAK ST / LAGUNA ST',
  '-122.425891675136',
  '37.7745985956747'],
 ['2015-05-13 23:33:00',
  'OTHER OFFENSES',
  'TRAFFIC VIOLATION ARREST',
  'Wednesday',
  'NORTHERN',
  'ARREST, BOOKED',
  'VANNESS AV / GREENWICH ST',
  '-122.42436302145',
  '37.8004143219856'],
 ['2015-05-13 23:30:00',
  'LARCENY/THEFT',
  'GRAND THEFT FROM LOCKED AUTO',
  'Wednesday',
  'NORTHERN',
  'NONE',
  '1500 Block of LOMBARD ST',
  '-122.42699532676599',
  '37.80087263276921'],
 ['2015-05-13 23:30:00',
  'LARCENY/THEFT',
  'GRAND THEFT FROM LOCKED AUTO',
  'Wednesday',
  'PARK',
  'NONE',
  '100 Block of BRODERICK ST',
  '-122.438737622757',
  '37.771541172057795']]

In [8]:
#get the total number of data 
crimes.count()

878049

#### Solove big data issues via Spark
###### approach 1: use RDD (not recommend)
###### approach 2: use Dataframe, register the RDD to a dataframe (recommend for DE)
###### approach 3: use SQL (recomend for data analysis or DS)

In [9]:
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("crime analysis") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [10]:
df_opt1 = spark.read.format("csv").option("header", "true").load("sf_data.csv")
display(df_opt1)
df_opt1.createOrReplaceTempView("sf_crime")

DataFrame[Dates: string, Category: string, Descript: string, DayOfWeek: string, PdDistrict: string, Resolution: string, Address: string, X: string, Y: string]

In [11]:
df_opt1.show(10)

+-------------------+--------------+--------------------+---------+----------+--------------+--------------------+-------------------+------------------+
|              Dates|      Category|            Descript|DayOfWeek|PdDistrict|    Resolution|             Address|                  X|                 Y|
+-------------------+--------------+--------------------+---------+----------+--------------+--------------------+-------------------+------------------+
|2015-05-13 23:53:00|      WARRANTS|      WARRANT ARREST|Wednesday|  NORTHERN|ARREST, BOOKED|  OAK ST / LAGUNA ST|  -122.425891675136|  37.7745985956747|
|2015-05-13 23:53:00|OTHER OFFENSES|TRAFFIC VIOLATION...|Wednesday|  NORTHERN|ARREST, BOOKED|  OAK ST / LAGUNA ST|  -122.425891675136|  37.7745985956747|
|2015-05-13 23:33:00|OTHER OFFENSES|TRAFFIC VIOLATION...|Wednesday|  NORTHERN|ARREST, BOOKED|VANNESS AV / GREE...|   -122.42436302145|  37.8004143219856|
|2015-05-13 23:30:00| LARCENY/THEFT|GRAND THEFT FROM ...|Wednesday|  NORTHERN|          NONE|1500 Block of LOM...|-122.42699532676599| 37.80087263276921|
|2015-05-13 23:30:00| LARCENY/THEFT|GRAND THEFT FROM ...|Wednesday|      PARK|          NONE|100 Block of BROD...|  -122.438737622757|37.771541172057795|
|2015-05-13 23:30:00| LARCENY/THEFT|GRAND THEFT FROM ...|Wednesday| INGLESIDE|          NONE| 0 Block of TEDDY AV|-122.40325236121201|   37.713430704116|
|2015-05-13 23:30:00| VEHICLE THEFT|   STOLEN AUTOMOBILE|Wednesday| INGLESIDE|          NONE| AVALON AV / PERU AV|  -122.423326976668|  37.7251380403778|
|2015-05-13 23:30:00| VEHICLE THEFT|   STOLEN AUTOMOBILE|Wednesday|   BAYVIEW|          NONE|KIRKWOOD AV / DON...|  -122.371274317441|  37.7275640719518|
|2015-05-13 23:00:00| LARCENY/THEFT|GRAND THEFT FROM ...|Wednesday|  RICHMOND|          NONE|600 Block of 47TH AV|  -122.508194031117|37.776601260681204|
|2015-05-13 23:00:00| LARCENY/THEFT|GRAND THEFT FROM ...|Wednesday|   CENTRAL|          NONE|JEFFERSON ST / LE...|  -122.419087676747|  37.8078015516515|
+-------------------+--------------+--------------------+---------+----------+--------------+--------------------+-------------------+------------------+
only showing top 10 rows

In [12]:
from pyspark.sql import Row

def createRow(keys, values):
  assert len(keys) == len(values)
  mapped = dict(zip(keys, values))
  return Row(**mapped)

rdd_rows = crimes.map(lambda x: createRow(header, x))

df_opt2 = spark.createDataFrame(rdd_rows)
df_opt2.createOrReplaceTempView("sf_crime")

In [13]:
display(df_opt2)

DataFrame[Address: string, Category: string, Dates: string, DayOfWeek: string, Descript: string, PdDistrict: string, Resolution: string, X: string, Y: string]

In [14]:
df_opt2.show(10)

+--------------------+--------------+-------------------+---------+--------------------+----------+--------------+-------------------+------------------+
|             Address|      Category|              Dates|DayOfWeek|            Descript|PdDistrict|    Resolution|                  X|                 Y|
+--------------------+--------------+-------------------+---------+--------------------+----------+--------------+-------------------+------------------+
|  OAK ST / LAGUNA ST|      WARRANTS|2015-05-13 23:53:00|Wednesday|      WARRANT ARREST|  NORTHERN|ARREST, BOOKED|  -122.425891675136|  37.7745985956747|
|  OAK ST / LAGUNA ST|OTHER OFFENSES|2015-05-13 23:53:00|Wednesday|TRAFFIC VIOLATION...|  NORTHERN|ARREST, BOOKED|  -122.425891675136|  37.7745985956747|
|VANNESS AV / GREE...|OTHER OFFENSES|2015-05-13 23:33:00|Wednesday|TRAFFIC VIOLATION...|  NORTHERN|ARREST, BOOKED|   -122.42436302145|  37.8004143219856|
|1500 Block of LOM...| LARCENY/THEFT|2015-05-13 23:30:00|Wednesday|GRAND THEFT FROM ...|  NORTHERN|          NONE|-122.42699532676599| 37.80087263276921|
|100 Block of BROD...| LARCENY/THEFT|2015-05-13 23:30:00|Wednesday|GRAND THEFT FROM ...|      PARK|          NONE|  -122.438737622757|37.771541172057795|
| 0 Block of TEDDY AV| LARCENY/THEFT|2015-05-13 23:30:00|Wednesday|GRAND THEFT FROM ...| INGLESIDE|          NONE|-122.40325236121201|   37.713430704116|
| AVALON AV / PERU AV| VEHICLE THEFT|2015-05-13 23:30:00|Wednesday|   STOLEN AUTOMOBILE| INGLESIDE|          NONE|  -122.423326976668|  37.7251380403778|
|KIRKWOOD AV / DON...| VEHICLE THEFT|2015-05-13 23:30:00|Wednesday|   STOLEN AUTOMOBILE|   BAYVIEW|          NONE|  -122.371274317441|  37.7275640719518|
|600 Block of 47TH AV| LARCENY/THEFT|2015-05-13 23:00:00|Wednesday|GRAND THEFT FROM ...|  RICHMOND|          NONE|  -122.508194031117|37.776601260681204|
|JEFFERSON ST / LE...| LARCENY/THEFT|2015-05-13 23:00:00|Wednesday|GRAND THEFT FROM ...|   CENTRAL|          NONE|  -122.419087676747|  37.8078015516515|
+--------------------+--------------+-------------------+---------+--------------------+----------+--------------+-------------------+------------------+
only showing top 10 rows

In [16]:
df_opt3 = crimes.toDF(['Dates', 'Category', 'Descript', 'DayOfWeek', 'PdDistrict', 'Resolution', 'Address', 'X', 'Y'])
display(df_opt3)
df_opt3.createOrReplaceTempView("sf_crime")

DataFrame[Dates: string, Category: string, Descript: string, DayOfWeek: string, PdDistrict: string, Resolution: string, Address: string, X: string, Y: string]

In [17]:
df_opt3.show(10)

+-------------------+--------------+--------------------+---------+----------+--------------+--------------------+-------------------+------------------+
|              Dates|      Category|            Descript|DayOfWeek|PdDistrict|    Resolution|             Address|                  X|                 Y|
+-------------------+--------------+--------------------+---------+----------+--------------+--------------------+-------------------+------------------+
|2015-05-13 23:53:00|      WARRANTS|      WARRANT ARREST|Wednesday|  NORTHERN|ARREST, BOOKED|  OAK ST / LAGUNA ST|  -122.425891675136|  37.7745985956747|
|2015-05-13 23:53:00|OTHER OFFENSES|TRAFFIC VIOLATION...|Wednesday|  NORTHERN|ARREST, BOOKED|  OAK ST / LAGUNA ST|  -122.425891675136|  37.7745985956747|
|2015-05-13 23:33:00|OTHER OFFENSES|TRAFFIC VIOLATION...|Wednesday|  NORTHERN|ARREST, BOOKED|VANNESS AV / GREE...|   -122.42436302145|  37.8004143219856|
|2015-05-13 23:30:00| LARCENY/THEFT|GRAND THEFT FROM ...|Wednesday|  NORTHERN|          NONE|1500 Block of LOM...|-122.42699532676599| 37.80087263276921|
|2015-05-13 23:30:00| LARCENY/THEFT|GRAND THEFT FROM ...|Wednesday|      PARK|          NONE|100 Block of BROD...|  -122.438737622757|37.771541172057795|
|2015-05-13 23:30:00| LARCENY/THEFT|GRAND THEFT FROM ...|Wednesday| INGLESIDE|          NONE| 0 Block of TEDDY AV|-122.40325236121201|   37.713430704116|
|2015-05-13 23:30:00| VEHICLE THEFT|   STOLEN AUTOMOBILE|Wednesday| INGLESIDE|          NONE| AVALON AV / PERU AV|  -122.423326976668|  37.7251380403778|
|2015-05-13 23:30:00| VEHICLE THEFT|   STOLEN AUTOMOBILE|Wednesday|   BAYVIEW|          NONE|KIRKWOOD AV / DON...|  -122.371274317441|  37.7275640719518|
|2015-05-13 23:00:00| LARCENY/THEFT|GRAND THEFT FROM ...|Wednesday|  RICHMOND|          NONE|600 Block of 47TH AV|  -122.508194031117|37.776601260681204|
|2015-05-13 23:00:00| LARCENY/THEFT|GRAND THEFT FROM ...|Wednesday|   CENTRAL|          NONE|JEFFERSON ST / LE...|  -122.419087676747|  37.8078015516515|
+-------------------+--------------+--------------------+---------+----------+--------------+--------------------+-------------------+------------------+
only showing top 10 rows

#### Q1 question (OLAP):
#####  Write a Spark program that counts the number of crimes for different category.
Below are some example codes to demonstrate the way to use Spark RDD, DF, and SQL to work with big data. You can follow this example to finish other questions.

In [25]:
catorgory_set_rdd = crimes.map(lambda item: (item[1],1))
from operator import add
result = sorted(catorgory_set_rdd.reduceByKey(add).collect(), key = lambda item: -item[1])
display(result)

[('2019/06/30', 578),
 ('2018/08/01', 556),
 ('2018/08/24', 532),
 ('2019/10/02', 527),
 ('2019/04/03', 521),
 ('2018/08/10', 517),
 ('2019/09/02', 515),
 ('2019/08/10', 514),
 ('2018/04/25', 514),
 ('2019/10/04', 513),
 ('2019/08/07', 512),
 ('2019/02/01', 512),
 ('2019/08/30', 507),
 ('2018/04/11', 504),
 ('2018/04/13', 504),
 ('2018/07/27', 504),
 ('2019/10/28', 501),
 ('2019/07/26', 501),
 ('2019/02/20', 501),
 ('2018/08/03', 499),
 ('2018/08/14', 498),
 ('2018/11/09', 497),
 ('2018/01/01', 496),
 ('2019/09/06', 494),
 ('2019/12/04', 494),
 ('2019/07/24', 491),
 ('2019/07/01', 489),
 ('2018/08/25', 489),
 ('2018/07/21', 489),
 ('2018/10/15', 488),
 ('2018/05/08', 488),
 ('2018/01/26', 488),
 ('2018/07/20', 486),
 ('2018/07/13', 486),
 ('2018/04/20', 486),
 ('2018/06/01', 485),
 ('2019/10/25', 485),
 ('2018/05/18', 485),
 ('2019/05/24', 484),
 ('2018/06/24', 484),
 ('2018/09/08', 484),
 ('2019/08/14', 484),
 ('2018/07/17', 482),
 ('2019/08/01', 482),
 ('2018/10/01', 482),
 ('2018/05/04', 481),
 ('2018/01/19', 481),
 ('2019/01/19', 479),
 ('2019/07/08', 479),
 ('2018/11/01', 478),
 ('2018/08/27', 478),
 ('2019/07/02', 477),
 ('2019/10/16', 477),
 ('2018/10/04', 477),
 ('2019/11/01', 476),
 ('2018/07/18', 475),
 ('2018/03/23', 475),
 ('2019/09/18', 475),
 ('2018/08/05', 474),
 ('2018/01/04', 472),
 ('2018/07/02', 472),
 ('2018/02/08', 472),
 ('2018/09/19', 471),
 ('2018/10/31', 471),
 ('2019/09/28', 471),
 ('2018/08/11', 471),
 ('2018/07/31', 470),
 ('2018/07/05', 470),
 ('2018/06/22', 469),
 ('2018/08/07', 469),
 ('2019/04/10', 469),
 ('2018/07/25', 469),
 ('2018/09/21', 469),
 ('2018/03/01', 468),
 ('2018/08/21', 468),
 ('2018/09/12', 468),
 ('2019/05/01', 467),
 ('2018/05/01', 467),
 ('2018/01/12', 467),
 ('2018/09/14', 467),
 ('2019/08/21', 467),
 ('2018/02/01', 466),
 ('2018/07/24', 466),
 ('2018/02/09', 465),
 ('2019/01/25', 465),
 ('2019/10/01', 464),
 ('2018/01/31', 464),
 ('2019/10/18', 463),
 ('2019/08/20', 463),
 ('2018/12/07', 463),
 ('2018/10/20', 462),
 ('2019/02/15', 462),
 ('2018/10/10', 459),
 ('2019/07/29', 458),
 ('2019/07/22', 458),
 ('2019/09/29', 458),
 ('2018/07/30', 458),
 ('2018/08/02', 458),
 ('2018/02/24', 458),
 ('2019/09/26', 457),
 ('2018/03/16', 457),
 ('2018/12/20', 457),
 ('2018/09/20', 457),
 ('2019/08/22', 456),
 ('2018/08/31', 456),
 ('2018/01/27', 456),
 ('2019/10/26', 456),
 ('2018/09/01', 455),
 ('2019/09/01', 455),
 ('2018/03/30', 455),
 ('2018/08/15', 455),
 ('2019/08/09', 455),
 ('2018/08/29', 455),
 ('2018/04/18', 454),
 ('2018/01/05', 454),
 ('2018/02/20', 454),
 ('2018/01/23', 453),
 ('2019/10/19', 453),
 ('2018/02/10', 453),
 ('2018/01/06', 453),
 ('2018/06/29', 453),
 ('2018/09/28', 453),
 ('2019/08/15', 453),
 ('2019/09/27', 452),
 ('2019/02/25', 452),
 ('2019/07/28', 452),
 ('2018/11/10', 452),
 ('2018/07/03', 452),
 ('2018/01/22', 452),
 ('2018/07/19', 452),
 ('2018/12/19', 451),
 ('2019/11/20', 451),
 ('2018/02/17', 451),
 ('2019/10/06', 451),
 ('2019/05/22', 451),
 ('2019/09/20', 450),
 ('2018/07/23', 450),
 ('2019/08/19', 450),
 ('2018/01/25', 450),
 ('2018/03/27', 449),
 ('2018/07/14', 449),
 ('2018/09/15', 449),
 ('2019/08/02', 449),
 ('2018/06/12', 449),
 ('2018/01/30', 448),
 ('2018/02/28', 448),
 ('2018/10/06', 448),
 ('2019/09/14', 448),
 ('2018/04/27', 448),
 ('2019/10/30', 448),
 ('2018/02/22', 447),
 ('2019/07/12', 447),
 ('2018/07/16', 447),
 ('2019/09/25', 447),
 ('2018/09/05', 447),
 ('2018/08/06', 447),
 ('2019/11/15', 447),
 ('2019/08/29', 446),
 ('2018/06/28', 446),
 ('2018/06/23', 446),
 ('2019/09/03', 446),
 ('2018/10/11', 445),
 ('2018/03/28', 445),
 ('2018/10/03', 445),
 ('2019/10/05', 444),
 ('2018/10/07', 444),
 ('2019/01/01', 444),
 ('2019/08/23', 444),
 ('2018/05/12', 444),
 ('2018/09/22', 444),
 ('2018/02/15', 444),
 ('2018/04/19', 443),
 ('2018/04/04', 443),
 ('2019/08/26', 442),
 ('2019/10/10', 442),
 ('2018/10/16', 442),
 ('2018/08/22', 442),
 ('2019/07/03', 442),
 ('2018/12/18', 442),
 ('2019/10/11', 441),
 ('2018/01/13', 441),
 ('2019/11/22', 441),
 ('2018/12/28', 441),
 ('2018/10/22', 441),
 ('2018/02/06', 441),
 ('2018/10/05', 440),
 ('2018/09/07', 440),
 ('2019/04/24', 440),
 ('2019/04/11', 440),
 ('2018/02/21', 440),
 ('2018/05/23', 439),
 ('2018/11/14', 439),
 ('2018/10/17', 439),
 ('2018/07/11', 438),
 ('2019/03/08', 438),
 ('2018/07/01', 438),
 ('2018/09/18', 438),
 ('2018/02/02', 438),
 ('2019/06/29', 438),
 ('2019/06/07', 437),
 ('2019/07/13', 437),
 ('2018/12/23', 437),
 ('2018/05/10', 437),
 ('2018/06/16', 437),
 ('2019/02/21', 437),
 ('2018/05/05', 436),
 ('2018/06/25', 436),
 ('2019/06/19', 436),
 ('2018/09/25', 436),
 ('2018/08/28', 436),
 ('2018/02/14', 435),
 ('2018/07/06', 435),
 ('2018/09/03', 435),
 ('2019/10/23', 434),
 ('2018/07/26', 434),
 ('2018/10/13', 433),
 ('2018/11/13', 433),
 ('2019/07/17', 433),
 ('2019/08/05', 432),
 ('2019/02/22', 432),
 ('2018/07/29', 432),
 ('2018/07/10', 432),
 ('2019/08/13', 432),
 ('2018/10/23', 431),
 ('2018/06/19', 431),
 ('2019/05/03', 431),
 ('2019/06/12', 431),
 ('2018/04/26', 431),
 ('2019/04/04', 431),
 ('2019/12/06', 431),
 ('2018/01/03', 430),
 ('2018/02/23', 430),
 ('2019/08/06', 430),
 ('2018/08/12', 430),
 ('2019/05/31', 429),
 ('2018/09/24', 429),
 ('2019/03/12', 429),
 ('2018/05/16', 429),
 ('2019/06/01', 429),
 ('2018/09/02', 429),
 ('2019/08/25', 429),
 ('2018/06/08', 429),
 ('2019/07/31', 429),
 ('2019/03/21', 428),
 ('2019/03/06', 428),
 ('2018/03/09', 428),
 ('2018/10/21', 428),
 ('2018/08/20', 428),
 ('2018/10/27', 428),
 ('2019/07/23', 428),
 ('2018/05/15', 428),
 ('2019/05/06', 428),
 ('2019/08/18', 427),
 ('2019/01/31', 427),
 ('2019/11/13', 427),
 ('2019/10/22', 427),
 ('2019/09/19', 427),
 ('2019/10/29', 427),
 ('2018/07/07', 427),
 ('2018/10/19', 427),
 ('2019/04/08', 426),
 ('2019/11/04', 426),
 ('2019/04/19', 426),
 ('2018/03/31', 426),
 ('2018/12/22', 426),
 ('2018/07/28', 426),
 ('2018/10/12', 425),
 ('2019/08/31', 425),
 ('2018/08/08', 425),
 ('2018/12/03', 425),
 ('2019/03/01', 424),
 ('2019/02/02', 424),
 ('2018/10/26', 424),
 ('2019/11/12', 423),
 ('2018/11/03', 423),
 ('2019/08/24', 423),
 ('2018/05/02', 423),
 ('2018/01/29', 423),
 ('2019/10/09', 422),
 ('2018/04/14', 422),
 ('2019/11/14', 422),
 ('2019/11/21', 422),
 ('2019/03/29', 422),
 ('2019/08/12', 422),
 ('2019/07/16', 421),
 ('2019/05/30', 421),
 ('2018/04/28', 421),
 ('2018/01/09', 421),
 ('2019/12/03', 421),
 ('2019/08/08', 421),
 ('2018/06/26', 421),
 ('2019/11/09', 421),
 ('2018/03/14', 421),
 ('2019/05/05', 421),
 ('2018/01/11', 420),
 ('2018/11/12', 420),
 ('2019/07/10', 420),
 ('2018/06/30', 420),
 ('2019/09/11', 420),
 ('2018/02/07', 420),
 ('2018/05/31', 419),
 ('2018/01/10', 419),
 ('2019/09/13', 419),
 ('2019/06/11', 419),
 ('2019/06/03', 419),
 ('2018/04/10', 419),
 ('2018/08/13', 419),
 ('2018/12/14', 419),
 ('2018/05/20', 419),
 ('2018/03/10', 418),
 ('2019/03/16', 418),
 ('2018/02/25', 418),
 ('2018/04/16', 418),
 ('2019/08/17', 418),
 ('2018/08/30', 418),
 ('2019/09/24', 417),
 ('2018/05/17', 417),
 ('2019/10/20', 417),
 ('2019/08/28', 417),
 ('2018/05/11', 417),
 ('2019/11/08', 416),
 ('2018/01/24', 416),
 ('2018/09/04', 416),
 ('2018/04/06', 416),
 ('2018/12/17', 416),
 ('2018/06/27', 416),
 ('2018/05/24', 416),
 ('2019/10/21', 415),
 ('2019/02/08', 415),
 ('2019/04/17', 415),
 ('2019/11/07', 415),
 ('2018/01/15', 415),
 ('2018/04/05', 415),
 ('2018/02/12', 415),
 ('2018/08/23', 415),
 ('2018/12/27', 415),
 ('2019/04/07', 415),
 ('2019/06/28', 414),
 ('2019/06/15', 414),
 ('2018/11/29', 414),
 ('2019/11/02', 414),
 ('2018/01/18', 413),
 ('2019/09/09', 413),
 ('2018/12/05', 413),
 ('2019/01/23', 413),
 ('2019/10/03', 413),
 ('2018/05/09', 413),
 ('2018/02/03', 412),
 ('2018/06/15', 412),
 ('2018/05/26', 412),
 ('2018/12/29', 412),
 ('2019/03/22', 412),
 ('2018/09/29', 412),
 ('2019/01/04', 412),
 ('2019/08/11', 411),
 ('2018/12/08', 411),
 ('2019/10/17', 411),
 ('2019/04/01', 411),
 ('2018/07/12', 411),
 ('2019/09/30', 411),
 ('2018/11/26', 411),
 ('2018/11/20', 410),
 ('2018/11/08', 410),
 ('2018/11/30', 410),
 ('2019/12/09', 410),
 ('2018/11/28', 409),
 ('2019/03/28', 409),
 ('2018/08/16', 409),
 ('2019/03/30', 409),
 ('2019/06/26', 409),
 ('2018/08/17', 409),
 ('2019/02/28', 409),
 ('2019/09/17', 409),
 ('2019/06/04', 409),
 ('2019/10/24', 409),
 ('2019/07/05', 409),
 ('2019/07/25', 409),
 ('2019/07/27', 408),
 ('2018/05/22', 408),
 ('2019/12/13', 408),
 ('2018/12/01', 408),
 ('2019/09/21', 408),
 ('2019/02/19', 408),
 ('2019/06/24', 408),
 ('2018/04/30', 408),
 ('2019/05/28', 407),
 ('2019/07/15', 407),
 ('2018/08/04', 407),
 ('2018/10/25', 407),
 ('2019/01/14', 406),
 ('2018/11/19', 406),
 ('2019/10/14', 406),
 ('2019/11/06', 406),
 ('2018/05/27', 406),
 ('2018/10/18', 406),
 ('2018/03/13', 406),
 ('2019/12/05', 406),
 ('2018/11/11', 405),
 ('2018/04/02', 405),
 ('2018/05/28', 405),
 ('2018/07/15', 405),
 ('2018/09/23', 405),
 ('2019/10/12', 405),
 ('2019/01/21', 405),
 ('2019/09/16', 405),
 ('2019/05/20', 405),
 ('2018/09/11', 405),
 ('2019/05/07', 404),
 ('2018/02/27', 404),
 ('2018/12/04', 404),
 ('2018/01/17', 404),
 ('2018/04/09', 404),
 ('2018/06/13', 404),
 ('2018/03/03', 404),
 ('2018/03/22', 403),
 ('2018/06/09', 403),
 ('2018/05/25', 403),
 ('2019/01/22', 403),
 ('2019/09/05', 403),
 ('2019/07/19', 403),
 ('2018/06/06', 403),
 ('2019/06/21', 403),
 ('2018/03/19', 402),
 ('2018/12/12', 402),
 ('2019/05/17', 402),
 ('2018/06/14', 402),
 ('2018/10/28', 402),
 ('2018/04/01', 401),
 ('2019/05/26', 401),
 ('2018/11/02', 401),
 ('2018/06/20', 401),
 ('2019/04/18', 401),
 ('2019/08/16', 401),
 ('2018/10/30', 401),
 ('2018/05/19', 401),
 ('2019/04/05', 401),
 ('2019/07/20', 401),
 ('2019/09/10', 401),
 ('2018/01/28', 401),
 ('2018/12/21', 401),
 ('2018/11/05', 401),
 ('2018/02/16', 400),
 ('2018/12/09', 400),
 ('2019/05/25', 400),
 ('2018/03/15', 400),
 ('2019/03/19', 400),
 ('2018/03/17', 400),
 ('2018/08/18', 399),
 ('2018/09/17', 399),
 ('2018/11/07', 399),
 ('2018/09/16', 399),
 ('2019/02/12', 399),
 ('2018/04/17', 398),
 ('2018/02/26', 398),
 ('2018/09/27', 398),
 ('2019/11/17', 398),
 ('2018/01/02', 398),
 ('2019/01/09', 398),
 ('2018/07/04', 398),
 ('2018/05/14', 398),
 ('2019/10/08', 398),
 ('2019/07/30', 398),
 ('2018/01/14', 398),
 ('2019/05/13', 398),
 ('2019/08/03', 397),
 ('2019/03/15', 397),
 ('2018/07/22', 397),
 ('2018/03/04', 397),
 ('2019/05/15', 397),
 ('2018/03/18', 397),
 ('2019/01/18', 397),
 ('2018/04/24', 397),
 ('2019/03/07', 397),
 ('2019/06/25', 397),
 ('2019/05/14', 396),
 ('2019/06/10', 396),
 ('2019/01/08', 396),
 ('2019/06/20', 396),
 ('2018/11/24', 396),
 ('2019/02/05', 396),
 ('2019/01/30', 396),
 ('2018/10/08', 395),
 ('2019/03/18', 395),
 ('2018/12/15', 395),
 ('2018/03/08', 394),
 ('2018/06/05', 394),
 ('2019/01/29', 394),
 ('2018/12/31', 394),
 ('2018/03/24', 394),
 ('2019/11/05', 394),
 ('2018/12/26', 394),
 ('2019/11/25', 394),
 ('2018/09/10', 393),
 ('2018/08/09', 393),
 ('2019/06/18', 393),
 ('2018/01/07', 393),
 ('2018/10/09', 392),
 ('2018/03/12', 392),
 ('2018/05/21', 392),
 ('2018/06/11', 392),
 ('2019/04/15', 392),
 ('2018/03/07', 392),
 ('2018/09/09', 391),
 ('2019/05/19', 391),
 ('2019/03/26', 391),
 ('2019/01/05', 391),
 ('2019/07/21', 391),
 ('2018/03/02', 391),
 ('2019/10/15', 390),
 ('2018/05/30', 390),
 ('2018/02/05', 390),
 ('2019/01/10', 390),
 ('2019/09/07', 390),
 ('2019/06/05', 390),
 ('2018/05/06', 390),
 ('2019/09/23', 389),
 ('2018/02/18', 389),
 ('2019/06/14', 389),
 ('2019/11/19', 389),
 ('2019/05/18', 389),
 ('2019/04/27', 388),
 ('2018/05/03', 388),
 ('2018/06/02', 388),
 ('2019/06/06', 388),
 ('2018/03/25', 388),
 ('2019/04/23', 388),
 ('2019/11/10', 387),
 ('2018/10/02', 387),
 ('2019/02/09', 387),
 ('2018/11/23', 387),
 ('2019/05/10', 387),
 ('2019/05/29', 386),
 ('2018/11/21', 386),
 ('2019/09/12', 386),
 ('2019/11/11', 386),
 ('2019/09/15', 386),
 ('2019/11/16', 386),
 ('2018/09/26', 386),
 ('2019/06/27', 385),
 ('2019/07/07', 385),
 ('2019/12/11', 385),
 ('2019/04/22', 384),
 ('2018/12/13', 384),
 ('2019/01/11', 384),
 ('2019/08/27', 384),
 ('2018/01/20', 384),
 ('2018/04/03', 383),
 ('2019/06/17', 383),
 ('2019/07/11', 383),
 ('2018/04/07', 383),
 ('2019/01/26', 383),
 ('2018/06/10', 383),
 ('2018/11/15', 383),
 ('2019/04/16', 383),
 ('2019/09/04', 383),
 ('2019/12/12', 383),
 ('2018/03/29', 382),
 ('2018/12/24', 382),
 ('2018/03/20', 382),
 ('2019/09/22', 381),
 ('2018/07/09', 381),
 ('2018/06/04', 381),
 ('2018/06/21', 381),
 ('2019/06/22', 381),
 ('2018/05/29', 381),
 ('2019/10/07', 380),
 ('2018/04/15', 380),
 ('2019/05/08', 380),
 ('2018/08/26', 380),
 ('2018/03/05', 379),
 ('2018/06/18', 379),
 ('2019/03/31', 379),
 ('2018/12/06', 379),
 ('2018/11/16', 379),
 ('2019/10/31', 379),
 ('2019/12/18', 379),
 ('2019/12/02', 378),
 ('2018/11/25', 378),
 ('2019/03/11', 378),
 ('2019/07/18', 378),
 ('2018/11/04', 377),
 ('2019/02/27', 377),
 ('2018/11/06', 377),
 ('2019/04/20', 377),
 ('2018/04/12', 377),
 ('2019/10/27', 377),
 ('2019/04/30', 377),
 ('2018/10/24', 377),
 ('2018/12/30', 376),
 ('2019/03/25', 376),
 ('2018/01/21', 375),
 ('2018/02/19', 375),
 ('2019/04/13', 375),
 ('2019/12/23', 375),
 ('2019/01/03', 374),
 ('2019/02/06', 374),
 ('2019/01/02', 374),
 ('2019/11/27', 374),
 ('2019/05/09', 374),
 ('2019/01/24', 373),
 ('2019/12/07', 373),
 ('2019/05/23', 372),
 ('2019/04/26', 372),
 ('2019/06/08', 372),
 ('2019/11/24', 372),
 ('2019/02/04', 371),
 ('2019/05/11', 371),
 ('2018/04/21', 371),
 ('2019/06/13', 370),
 ('2018/03/21', 370),
 ('2018/01/16', 370),
 ('2019/09/08', 370),
 ('2019/01/28', 370),
 ('2018/04/23', 369),
 ('2019/05/16', 369),
 ('2019/07/06', 369),
 ('2018/09/30', 369),
 ('2019/02/16', 369),
 ('2019/02/10', 368),
 ('2018/12/10', 368),
 ('2018/11/17', 368),
 ('2019/04/06', 368),
 ('2019/05/12', 368),
 ('2019/06/02', 367),
 ('2019/12/16', 367),
 ('2018/09/13', 367),
 ('2019/04/12', 366),
 ('2019/11/23', 366),
 ('2018/04/22', 365),
 ('2018/06/03', 365),
 ('2019/01/17', 365),
 ('2018/10/29', 365),
 ('2019/04/09', 364),
 ('2019/01/27', 363),
 ('2019/07/04', 363),
 ('2018/04/29', 363),
 ('2019/06/23', 363),
 ('2019/08/04', 362),
 ('2019/02/13', 362),
 ('2018/09/06', 362),
 ('2019/11/26', 362),
 ('2018/05/07', 362),
 ('2018/02/13', 362),
 ('2019/03/20', 362),
 ('2019/01/12', 362),
 ('2019/02/23', 361),
 ('2018/07/08', 361),
 ('2019/11/30', 361),
 ('2019/02/11', 360),
 ('2019/04/02', 360),
 ('2018/08/19', 360),
 ('2019/03/02', 360),
 ('2019/07/14', 359),
 ('2019/02/18', 359),
 ('2019/03/14', 358),
 ('2019/12/08', 358),
 ('2019/12/14', 358),
 ('2019/12/21', 356),
 ('2019/02/07', 356),
 ('2019/12/20', 355),
 ('2019/11/29', 354),
 ('2018/11/18', 354),
 ('2019/10/13', 353),
 ('2018/05/13', 353),
 ('2019/03/04', 353),
 ('2019/11/03', 353),
 ('2018/02/11', 352),
 ('2018/10/14', 352),
 ('2019/04/28', 351),
 ('2019/12/27', 350),
 ('2018/04/08', 350),
 ('2019/12/10', 350),
 ('2019/01/15', 349),
 ('2019/12/19', 349),
 ('2018/06/17', 349),
 ('2018/12/11', 349),
 ('2018/03/26', 348),
 ('2019/01/13', 348),
 ('2019/03/27', 348),
 ('2018/01/08', 348),
 ('2019/05/04', 347),
 ('2018/03/06', 347),
 ('2019/03/10', 346),
 ('2019/05/27', 346),
 ('2019/04/14', 345),
 ('2019/04/29', 342),
 ('2018/06/07', 342),
 ('2018/12/02', 342),
 ('2019/07/09', 339),
 ('2019/01/07', 339),
 ('2019/03/23', 339),
 ('2019/06/16', 338),
 ('2019/02/24', 337),
 ('2019/03/13', 334),
 ('2019/03/24', 333),
 ('2019/02/17', 333),
 ('2019/11/18', 333),
 ('2019/03/03', 332),
 ('2019/12/01', 332),
 ('2019/01/16', 332),
 ('2019/03/05', 331),
 ('2019/05/02', 331),
 ('2019/12/17', 329),
 ('2018/02/04', 329),
 ('2019/03/17', 329),
 ('2019/02/14', 326),
 ('2019/02/03', 326),
 ('2019/04/21', 325),
 ('2019/04/25', 324),
 ('2019/12/15', 321),
 ('2018/11/27', 318),
 ('2019/12/28', 317),
 ('2019/06/09', 315),
 ('2019/02/26', 313),
 ('2018/11/22', 311),
 ('2019/03/09', 310),
 ('2019/12/24', 308),
 ('2019/12/22', 307),
 ('2019/05/21', 306),
 ('2018/12/16', 302),
 ('2019/12/30', 295),
 ('2019/12/26', 293),
 ('2019/01/20', 292),
 ('2018/03/11', 287),
 ('2019/01/06', 272),
 ('2019/12/29', 262),
 ('2018/12/25', 259),
 ('2019/11/28', 239),
 ('2019/12/25', 223),
 ('2019/12/31', 221),
 ('2020/01/01', 217)]

In [18]:
q1_result = df_opt1.groupBy('Category').count().orderBy('count', ascending=False)
display(q1_result)

DataFrame[Category: string, count: bigint]

In [19]:
q1_result.show(n = 30, truncate=False)

+---------------------------+------+
|Category                   |count |
+---------------------------+------+
|LARCENY/THEFT              |174900|
|OTHER OFFENSES             |126182|
|NON-CRIMINAL               |92304 |
|ASSAULT                    |76876 |
|DRUG/NARCOTIC              |53971 |
|VEHICLE THEFT              |53781 |
|VANDALISM                  |44725 |
|WARRANTS                   |42214 |
|BURGLARY                   |36755 |
|SUSPICIOUS OCC             |31414 |
|MISSING PERSON             |25989 |
|ROBBERY                    |23000 |
|FRAUD                      |16679 |
|FORGERY/COUNTERFEITING     |10609 |
|SECONDARY CODES            |9985  |
|WEAPON LAWS                |8555  |
|PROSTITUTION               |7484  |
|TRESPASS                   |7326  |
|STOLEN PROPERTY            |4540  |
|SEX OFFENSES FORCIBLE      |4388  |
|DISORDERLY CONDUCT         |4320  |
|DRUNKENNESS                |4280  |
|RECOVERED VEHICLE          |3138  |
|KIDNAPPING                 |2341  |
|DRIVING UNDER THE INFLUENCE|2268  |
|RUNAWAY                    |1946  |
|LIQUOR LAWS                |1903  |
|ARSON                      |1513  |
|LOITERING                  |1225  |
|EMBEZZLEMENT               |1166  |
+---------------------------+------+
only showing top 30 rows

In [22]:
#Spark SQL based
crimeCategory = spark.sql("SELECT  category, COUNT(*) AS Count FROM sf_crime GROUP BY category ORDER BY count DESC")
display(crimeCategory)

DataFrame[category: string, Count: bigint]

In [24]:
crimeCategory.show(10)

+--------------+------+
|      category| Count|
+--------------+------+
| LARCENY/THEFT|174900|
|OTHER OFFENSES|126182|
|  NON-CRIMINAL| 92304|
|       ASSAULT| 76876|
| DRUG/NARCOTIC| 53971|
| VEHICLE THEFT| 53781|
|     VANDALISM| 44725|
|      WARRANTS| 42214|
|      BURGLARY| 36755|
|SUSPICIOUS OCC| 31414|
+--------------+------+
only showing top 10 rows

In [25]:
# important hints: 
## first step: spark df or sql to compute the statisitc result 
## second step: export your result to a pandas dataframe. 
crimes_pd_df = crimeCategory.toPandas()

In [27]:
# Spark does not support this function, please refer https://matplotlib.org/ for visuliation. You need to use display to show the figure in the databricks community. 
display(crimes_pd_df)

                       category   Count
0                 LARCENY/THEFT  174900
1                OTHER OFFENSES  126182
2                  NON-CRIMINAL   92304
3                       ASSAULT   76876
4                 DRUG/NARCOTIC   53971
5                 VEHICLE THEFT   53781
6                     VANDALISM   44725
7                      WARRANTS   42214
8                      BURGLARY   36755
9                SUSPICIOUS OCC   31414
10               MISSING PERSON   25989
11                      ROBBERY   23000
12                        FRAUD   16679
13       FORGERY/COUNTERFEITING   10609
14              SECONDARY CODES    9985
15                  WEAPON LAWS    8555
16                 PROSTITUTION    7484
17                     TRESPASS    7326
18              STOLEN PROPERTY    4540
19        SEX OFFENSES FORCIBLE    4388
20           DISORDERLY CONDUCT    4320
21                  DRUNKENNESS    4280
22            RECOVERED VEHICLE    3138
23                   KIDNAPPING    2341
24  DRIVING UNDER THE INFLUENCE    2268
25                      RUNAWAY    1946
26                  LIQUOR LAWS    1903
27                        ARSON    1513
28                    LOITERING    1225
29                 EMBEZZLEMENT    1166
30                      SUICIDE     508
31              FAMILY OFFENSES     491
32                   BAD CHECKS     406
33                      BRIBERY     289
34                    EXTORTION     256
35    SEX OFFENSES NON FORCIBLE     148
36                     GAMBLING     146
37      PORNOGRAPHY/OBSCENE MAT      22
38                         TREA       6

### We can see the top-5 frequency crimes are:
1	LARCENY/THEFT <br>
2	OTHER OFFENSES <br>
3	NON-CRIMINAL <br>
4	ASSAULT <br>
5	DRUG/NARCOTIC <br>

#### Q2 question (OLAP)
Counts the number of crimes for different district, and visualize your results

In [28]:
crimeDistrict = spark.sql("SELECT  PdDistrict, COUNT(*) AS Count FROM sf_crime GROUP BY PdDistrict ORDER BY Count DESC")
display(crimeDistrict)

DataFrame[PdDistrict: string, Count: bigint]

In [30]:
crimeDistrict.show(25)

+----------+------+
|PdDistrict| Count|
+----------+------+
|  SOUTHERN|157182|
|   MISSION|119908|
|  NORTHERN|105296|
|   BAYVIEW| 89431|
|   CENTRAL| 85460|
|TENDERLOIN| 81809|
| INGLESIDE| 78845|
|   TARAVAL| 65596|
|      PARK| 49313|
|  RICHMOND| 45209|
+----------+------+

Southern and Mission distric are most dangerous, there are more than 100K crimes committed between 2003 to 2015. <br>

Compared to other districts, Park and RichMond are public security environmental. <br>

From the map, we can see Northern districs are safer than Southern ones. <br>

#### Q3 question (OLAP)
Count the number of crimes each "Sunday" at "SF downtown". hints: SF downtown is defiend via the range of spatial location. Thus, you need to write your own UDF function to filter data which are located inside certain spatial range. You can follow the example here: https://changhsinlee.com/pyspark-udf/

In [31]:
PdDistrict = spark.sql("SELECT distinct PdDistrict FROM sf_crime")

In [33]:
PdDistrict.show()

+----------+
|PdDistrict|
+----------+
|   MISSION|
|   BAYVIEW|
|   CENTRAL|
|   TARAVAL|
|TENDERLOIN|
| INGLESIDE|
|      PARK|
|  SOUTHERN|
|  RICHMOND|
|  NORTHERN|
+----------+

In [34]:
##sql
crimecount = spark.sql("SELECT  PdDistrict, DayOfWeek, COUNT(*) AS Count FROM sf_crime WHERE PdDistrict in ('MISSION','CENTRAL','TARAVAL','TENDERLOIN','RICHMOND','PARK') and DayOfWeek='Sunday' GROUP BY PdDistrict,DayOfWeek ORDER BY Count DESC")

In [35]:
crimecount.show()

+----------+---------+-----+
|PdDistrict|DayOfWeek|Count|
+----------+---------+-----+
|   MISSION|   Sunday|15874|
|   CENTRAL|   Sunday|12197|
|TENDERLOIN|   Sunday|10178|
|   TARAVAL|   Sunday| 8331|
|      PARK|   Sunday| 6646|
|  RICHMOND|   Sunday| 6089|
+----------+---------+-----+

In [38]:
crimecount_pd=crimecount.toPandas()
display(crimecount_pd)

   PdDistrict DayOfWeek  Count
0     MISSION    Sunday  15874
1     CENTRAL    Sunday  12197
2  TENDERLOIN    Sunday  10178
3     TARAVAL    Sunday   8331
4        PARK    Sunday   6646
5    RICHMOND    Sunday   6089

#### Q4 question (OLAP)
Analysis the number of crime in each month of 2015, 2016, 2017, 2018. Then, give your insights for the output results. What is the business impact for your result?

In [51]:
from datetime import datetime
import pyspark.sql.functions as pysparkSqlFunc
func = pysparkSqlFunc.udf(lambda x: datetime.strptime(x, '%m/%d/%Y'), DateType())
df = df_opt3.withColumn('new_date', func(col('Dates')))
df.createOrReplaceTempView('sf_crime1')

In [69]:
display(df)

DataFrame[Dates: string, Category: string, Descript: string, DayOfWeek: string, PdDistrict: string, Resolution: string, Address: string, X: string, Y: string, new_date: date]

In [53]:
##sql
Monthcrime = spark.sql("SELECT YEAR(new_date) as year, Month(new_date) as month, Count(*) from sf_crime1 group by YEAR(new_date), Month(new_date) order by 1,2")

DataFrame[year: int, month: int, count(1): bigint]

In [68]:
display(Monthcrime)

DataFrame[year: int, month: int, count(1): bigint]

#### Q5 question (OLAP)
Analysis the number of crime w.r.t the hour in certian day like 2015/12/15, 2016/12/15, 2017/12/15, 2018/10/15. Then, give your travel suggestion to visit SF.

In [70]:
func1 =  pysparkSqlFunc.udf (lambda x: datetime.strptime(x, '%H:%M'), TimestampType())
df2 = df_opt3.withColumn('new_time', func1(col('Time')))
df2.createOrReplaceTempView('sf_crime2')
display(df2)

AnalysisException: "cannot resolve '`Time`' given input columns: [DayOfWeek, Category, Dates, X, Address, PdDistrict, Y, Resolution, Descript];;\n'Project [Dates#113, Category#114, Descript#115, DayOfWeek#116, PdDistrict#117, Resolution#118, Address#119, X#120, Y#121, <lambda>('Time) AS new_time#475]\n+- LogicalRDD [Dates#113, Category#114, Descript#115, DayOfWeek#116, PdDistrict#117, Resolution#118, Address#119, X#120, Y#121], false\n"

#### For different category of crime, find the percentage of resolution. Based on the output, give your hints to adjust the policy.

In [71]:
resolution=spark.sql('select PdDistrict, Resolution, count(*) as CT from sf_crime1 group by 1,2 order by 1,2')
resolution.createOrReplaceTempView('resolution')

display(resolution)

DataFrame[PdDistrict: string, Resolution: string, CT: bigint]

In [72]:
resolution.show()

+----------+--------------------+-----+
|PdDistrict|          Resolution|   CT|
+----------+--------------------+-----+
|   BAYVIEW|      ARREST, BOOKED|19492|
|   BAYVIEW|       ARREST, CITED| 9795|
|   BAYVIEW|CLEARED-CONTACT J...|   42|
|   BAYVIEW|COMPLAINANT REFUS...|  678|
|   BAYVIEW|DISTRICT ATTORNEY...|  659|
|   BAYVIEW|EXCEPTIONAL CLEAR...|  128|
|   BAYVIEW| JUVENILE ADMONISHED|  177|
|   BAYVIEW|     JUVENILE BOOKED|  855|
|   BAYVIEW|      JUVENILE CITED|  352|
|   BAYVIEW|   JUVENILE DIVERTED|   74|
|   BAYVIEW|             LOCATED| 3180|
|   BAYVIEW|                NONE|51785|
|   BAYVIEW|      NOT PROSECUTED|  280|
|   BAYVIEW|PROSECUTED BY OUT...|  186|
|   BAYVIEW|PROSECUTED FOR LE...|   11|
|   BAYVIEW|   PSYCHOPATHIC CASE|  806|
|   BAYVIEW|           UNFOUNDED|  931|
|   CENTRAL|      ARREST, BOOKED|13830|
|   CENTRAL|       ARREST, CITED| 5964|
|   CENTRAL|CLEARED-CONTACT J...|    9|
+----------+--------------------+-----+
only showing top 20 rows

In [73]:
resolution2=spark.sql('select PdDistrict, solved, unsolved, solved/(solved+unsolved) as percentageofsolved from (select PdDistrict, sum(case when Resolution in ("NONE","UNFOUNDED") then CT else 0 end) as unsolved, sum(case when PdDistrict not in ("NONE","UNFOUNDED") then CT else 0 end) as solved from resolution group by PdDistrict) order by percentageofsolved DESC')
resolution2.show()

+----------+------+--------+------------------+
|PdDistrict|solved|unsolved|percentageofsolved|
+----------+------+--------+------------------+
|TENDERLOIN| 81809|   28406|0.7422673864718958|
|   MISSION|119908|   64336|0.6508108812227263|
|   BAYVIEW| 89431|   52716| 0.629144477196142|
|  SOUTHERN|157182|   95504|0.6220447511931805|
|      PARK| 49313|   31394|0.6110126754804416|
| INGLESIDE| 78845|   51939|0.6028642647418645|
|  NORTHERN|105296|   71344|0.5961050724637681|
|   TARAVAL| 65596|   45785|0.5889334805756816|
|   CENTRAL| 85460|   61458|0.5816850215766618|
|  RICHMOND| 45209|   33493|0.5744326700719169|
+----------+------+--------+------------------+

#### Q8 question (Apply Spark ML clustering for spatial data analysis)
Extra: visualize the spatial distribution of crimes and run a kmeans clustering algorithm (please use Spark ML kmeans)
You can refer Spark ML Kmeans a example: https://spark.apache.org/docs/latest/ml-clustering.html#k-means

In [75]:
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator 
from pyspark.ml.feature import VectorAssembler
import matplotlib.pyplot as plt
import matplotlib.cm as cm
#loads data
df8=df_opt1.select(['Count','X','Y'])
Feature_Col=['X','Y']
for col in df8.columns:
  if col in Feature_Col:
    df8=df8.withColumn(col,df8[col].cast('float'))
vecAssembler=VectorAssembler(inputCols=Feature_Col,outputCol="features")
df_kmeans=vecAssembler.transform(df8).select('IncidntNum','features')

AnalysisException: "cannot resolve '`Count`' given input columns: [Address, Descript, DayOfWeek, Category, X, Y, Resolution, PdDistrict, Dates];;\n'Project ['Count, X#17, Y#18]\n+- Relation[Dates#10,Category#11,Descript#12,DayOfWeek#13,PdDistrict#14,Resolution#15,Address#16,X#17,Y#18] csv\n"